.header-component {
 /* TODO: make a less gimicky header. I put too much time into fooling with
          CSS and it just isn't worth it until I add more to the site. */

  width: 100%;
  top: 0;
  position: sticky;
  z-index: 10;
  color: #eeeeee;
  background: linear-gradient(
    to bottom,
    var(--primaryColor),
    var(--secondaryColor)
  );
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.header {
  top: 0;
  padding: 15px;
  width: 100%;
  display: table;

  z-index: 10;
}

.titleGroup {
  display: table-cell;
}

.siteName {
  font-size: 40px;
}

.siteDescription {
  font-size: large;
}

.spacer {
  font-size: xx-large;
  margin-inline: 15px;
}

.linkGroup {
  display: table-cell;
  text-align: right;
  vertical-align: baseline;
}

.link {
  margin-right: 10px;
}

.link:hover {
  filter: drop-shadow(0px 0px 10px grey);
}

.banner {
  position: relative;
}
