

<div class="header-component">
  <div class="header">
    <div class="titleGroup">
      <span class="siteName">4ist.net</span>
      <span class="spacer">|</span>
      <span class="siteDescription inline">Forrest Richardson's Development Site</span>
    </div>
    <div class="linkGroup">
      <img class="link" href="https://github.com/4ist" target="_blank" src="assets/GitHubLogo.png"/>
      <img class="link" href="https://www.linkedin.com/in/4ist/" target="_blank" src="assets/LinkedInLogo.png"/>
    </div>
  </div>

  <div class="banner">
    <span>Development Blogs</span>
    <span>Projects</span>
  </div>
</div>
