.header-component {
  top: 0;
  color: #eeeeee;

  height: 78px;
  background: linear-gradient(
    to bottom,
    var(--primaryColor),
    var(--secondaryColor)
  );
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.siteName {
  padding: 15px;
  background-color: var(--heavyColor);
  display: flex;
  align-items: flex-end;
  float: left;
  font-size: 40px;
}

.banner {
  padding: 15px;
  margin-left: 15px;
  display: flex;
  align-items: flex-end;
  float: left;
  height: 45px;
}

a {
  padding: 3px 6px;
  margin: 0px 3px;
  background: none;
  border-radius: 15px;
}

a:hover {
  background-color: var(--heavyColor);
}

.linkGroup {
  padding: 15px;
  height: 40px;
  float: right;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

.socialLink {
  margin-right: 10px;
}

.socialLink:hover {
  filter: drop-shadow(0px 0px 10px grey);
}

.pageGroup {
  display: table-cell;
}
