<header>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
</header>

<div class="header-component">
  <div class="siteName">4ist.net</div>
  <div class="banner">
    <a class="bannerLink" href="/">Home</a>
    <!--
    Commenting these out so I can start advertising the site as at lease a homepage
    <a class="bannerLink" href="/DevBlogs">Development Blogs</a>
    <a class="bannerLink" href="/Projects">Projects</a>
    -->
    <a class="bannerLink" target="_blank" href="/assets/RichardsonResume2020.pdf">Resume</a>

  </div>
  <div class="linkGroup">
    <a class="socialLink devicon-linkedin-plain" href="https://github.com/4ist" target="_blank"></a>
    <a class="socialLink devicon-github-plain" href="https://www.linkedin.com/in/4ist/" target="_blank"></a>
  </div>
</div>
