<header>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
</header>

<!--my face, in a circle with some webdev background picture-->
<div class="background">
  <div id="AboutBanner" class="aboutBanner">
    <div class="picHolder">
      <img class="profilePicture" src="assets/CloseHeadshot.jpg" />
    </div>
    <div class="title">
      <p style="font-size: xx-large">Forrest Richardson</p>
      <p style="font-size: x-large">Full-Stack Software Engineer</p>
    </div>
  </div>
</div>

<!--a little bitta aboutme content-->

<mat-card id="Bio" class="card">
  <mat-card-header>
    <mat-card-title>About Me</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Morbi sed sodales urna. Cras vestibulum ante nulla, quis tincidunt nisl
      feugiat vel. Ut in consectetur neque. Duis convallis maximus lorem ac
      varius. Donec euismod id nulla id egestas. Proin vitae tortor ipsum. Donec
      porta id urna at sodales. Mauris mattis est nec suscipit rutrum.
    </p>
    <p>
      Morbi sed sodales urna. Cras vestibulum ante nulla, quis tincidunt nisl
      feugiat vel. Ut in consectetur neque. Duis convallis maximus lorem ac
      varius. Donec euismod id nulla id egestas. Proin vitae tortor ipsum. Donec
      porta id urna at sodales. Mauris mattis est nec suscipit rutrum.
    </p>
  </mat-card-content>
</mat-card>

<!--add some projects or something?-->

<!--link to github, linkedin, resume-->

<mat-card id="Links" class="card">
  <mat-card-header>
    <mat-card-title>links</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>4ist.net</div>
    <div>github.com</div>
    <div>linkedin</div>
  </mat-card-content>
</mat-card>

<mat-card id="Technologies" class="card">
  <mat-card-header>
    <mat-card-title>Technologies</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="technologiesSection">Professional</div>

    <div class="devicon">
      <i class="devicon-csharp-plain"></i>
      <div class="iconLabel">C#</div>
    </div>

    <div class="devicon">
      <i class="devicon-dot-net-plain"></i>
      <div class="iconLabel">ASP.NET</div>
    </div>

    <div class="devicon">
      <i class="devicon-git-plain"></i>
      <div class="iconLabel">Git</div>
    </div>

    <div class="devicon">
      <i class="devicon-html5-plain"></i>
      <div class="iconLabel">HTML</div>
    </div>

    <div class="devicon">
      <i class="devicon-css3-plain"></i>
      <div class="iconLabel">CSS</div>
    </div>

    <div class="devicon">
      <i class="devicon-javascript-plain"></i>
      <div class="iconLabel">JavaScript</div>
    </div>

    <div class="technologiesSection">Proficient</div>

    <div class="devicon">
      <i class="devicon-angularjs-plain"></i>
      <div class="iconLabel">Angular</div>
    </div>

    <div class="devicon">
      <i class="devicon-typescript-plain"></i>
      <div class="iconLabel">TypeScript</div>
    </div>

    <div class="devicon">
      <i class="devicon-nodejs-plain"></i>
      <div class="iconLabel">NodeJS</div>
    </div>

    <div class="technologiesSection">Familiar</div>

    <div class="devicon">
      <i class="devicon-python-plain"></i>
      <div class="iconLabel">Python</div>
    </div>

    <div class="devicon">
      <i class="devicon-java-plain"></i>
      <div class="iconLabel">Java</div>
    </div>

    <div class="devicon">
      <i class="devicon-mongodb-plain"></i>
      <div class="iconLabel">MongoDB</div>
    </div>




  </mat-card-content>
</mat-card>

<!--copyright footer-->
