<div class="summaries-component">
  <mat-card class="summary-card" *ngFor="let summary of summaries">
    <mat-card-header>
      <!--
     <div mat-card-avatar class="example-header-image"></div>
    -->

      <mat-card-title>{{ summary.title }}</mat-card-title>
      <mat-card-subtitle>{{ summary.date }}</mat-card-subtitle>
    </mat-card-header>
    <!--
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  -->
    <mat-card-content class="summary-content">
      <p>{{ summary.summary }}</p>
    </mat-card-content>
  </mat-card>
</div>
