/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #eeeeee;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* global variables */
:root {
  --heavyColor: #008899;
  --primaryColor: #22b3cc;
  --secondaryColor: #69c9da;
  --tertiaryColor: #aee9f3;
}
